---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blank.428 - Con dốc nhạt nhoà">
<main class="container mx-auto min-h-screen max-w-3xl p-8">
  <h1 class="text-4xl font-bold mb-8">Blank.428 - Con dốc nhạt nhoà</h1>
</main>
</Layout>